# ── OLTP (fuente operacional) ──────────────────────────────────────────────
OLTP_HOST=postgres-oltp
OLTP_PORT=5432
OLTP_DB=restaurantes_oltp
OLTP_USER=olap
OLTP_PASSWORD=olap123

# ── Serving (Postgres para Superset) ──────────────────────────────────────
SERVING_HOST=postgres-serving
SERVING_PORT=5432
SERVING_DB=restaurantes_marts
SERVING_USER=olap
SERVING_PASSWORD=olap123

# ── Airflow metastore ─────────────────────────────────────────────────────
AIRFLOW_POSTGRES_DB=airflow
AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=airflow123
AIRFLOW_UID=50000
AIRFLOW_FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLt0nfd6jg=

# ── Elasticsearch ─────────────────────────────────────────────────────────
ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200

# ── Hive ──────────────────────────────────────────────────────────────────
HIVE_METASTORE_URI=thrift://hive-metastore:9083
HIVE_DB=restaurantes_dw

# ── Neo4J ─────────────────────────────────────────────────────────────────
NEO4J_URI=bolt://neo4j:7687
NEO4J_AUTH=neo4j/neo4j123

# ── Generador de datos ────────────────────────────────────────────────────
GEN_MONTHS=12
GEN_ORDERS=20000
